<app-toolbar [title]='title'></app-toolbar>
<!-- /* Header/Cima */ -->
<div class="Header">
    <div class="SubTittleHeader">
        <a class="TexteHeader">Pedido :<a class="HeaderData">{{pedido.id}}</a></a>
        <a class="TexteHeader">Ocr : <a class="HeaderData">{{pedido.ocr}}</a></a>
    </div>
    <div class="Tittle">
        <a class="TittleStatus" *ngIf="pedido.status == 'RECEBIDO'">PEDIDO RECEBIDO</a>
        <a class="TittleStatus" *ngIf="pedido.status == 'APROVADO'">PEDIDO APROVADO</a>
        <a class="TittleStatus" *ngIf="pedido.status == 'SEPARADO'">PEDIDO SEPARADO</a>
        <a class="TittleStatus" *ngIf="pedido.status == 'EM_TRANSPORTE'">PEDIDO EM TRANSPORTE</a>
        <a class="TittleStatus" *ngIf="pedido.status == 'ENTREGUE'">PEDIDO ENTREGUE</a>
    </div>
    <div class="Image">
      <img *ngIf="pedido.status == 'RECEBIDO'" class="ImageHeader" src="./assets/imgs/statusPedido1.png" alt="">
      <img *ngIf="pedido.status == 'APROVADO'" class="ImageHeader" src="./assets/imgs/statusPedido2.png" alt="">
      <img *ngIf="pedido.status == 'SEPARADO'" class="ImageHeader" src="./assets/imgs/statusPedido3.png" alt="">
      <img *ngIf="pedido.status == 'EM_TRANSPORTE'" class="ImageHeader" src="./assets/imgs/statusPedido4.png" alt="">
      <img *ngIf="pedido.status == 'ENTREGUE'" class="ImageHeader" src="./assets/imgs/statusPedido5.png" alt="">
    </div>
    <div class="SubTittle">
      <a *ngIf="pedido.status == 'RECEBIDO'">Recebemos o seu pedido e estamos processando o pagamento.</a>
      <a *ngIf="pedido.status == 'APROVADO'">Processamos seu pedido e logo iniciaremos a separação.</a>
      <a *ngIf="pedido.status == 'SEPARADO'">Os itens do seu pedido foram separados e logo sairá para transoporte.</a>
      <a *ngIf="pedido.status == 'EM_TRANSPORTE'">Seu pedido está em transporte.Tenha alguém no endereço para recebê-lo.</a>
      <a *ngIf="pedido.status == 'ENTREGUE'">Pedido entregue. Agradecemos por escolher a DAG para abastecer seu estoque.</a>
    </div>
</div>

<!-- /* Infos/Meio */ -->
<div class="Infos">
    <div class="InfosPrimary">
        <a>Entregue em</a>
        <a class="TittleMid">{{pedido.previsaoEntrega}}</a>
    </div>
    <div class="InfosSecondary">
        <div class="InsideInfos">
            <a>Valor Total</a>
            <a class="TittleMid">R$ {{pedido.valorTotal}}</a>
        </div>
        <div class="InsideInfos">
            <a>Total em Descontos</a>
            <a class="TittleMid">R$ {{pedido.totalDesconto}}</a>
        </div>
    </div>
    <div class="InfosTernary">
        <div class="InsideInfos">
            <a>Endereço de Entrega</a>
            <a class="TittleMid">{{pedido.endereco}}</a>
        </div>
    </div>
    <div class="InfosTernary">
        <div class="InsideInfos">
            <a>Forma de Pagamento</a>
            <a class="TittleMid">{{pedido.formaPagamento}}</a>
        </div>
    </div>
</div>
<!-- /* Footer/Baixo */ -->
<div class="Footer">
    <div class="FooterPadding">
    <a class="Pedido" (click)="verItensDoPedidoAlerta()" [routerLink]="['/pages/detalhes/itens',pedido.id]">VER ITENS DO PEDIDO</a>
    </div>
    <div class="FooterPadding">
    <a class="NF" href="" (click)="verNotaFiscalAlerta()" [routerLink]="['/pages/pedidos/']"> VER NOTA FISCAL</a>
    </div>
</div>
