.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background: white;
  color: rgba(0,0,0,.87);
}

.mat-icon{
  color: #52904d;
}

table {
  width: 100%;
}

.Header{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SubTittleHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.TexteHeader{
  padding: 10px;
}

.HeaderData{
  font-weight: bold;
}

.Tittle{
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.TextTittle{
 padding: 10px;
}
.SubTittle{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: medium;
}
.ImageHeader{
 position: relative;
 height: 100px;
 width: 350px;
}


/* MidInfos */

.Infos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2vh;
}
.InfosPrimary{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.TittleMid{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.TittleStatus{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: large;
}
.InfosSecondary{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.InsideInfos{
 display: flex;
 flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.InfosTernary{
  padding-top: 20px;
}

/* Footer */

.Footer{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.Pedido{
  font-size: 30px;
  color: #52904d;
}
.NF{
  font-size: 30px;
  color: #52904d;;
}
.linha1{
  height: 1px;
  width: 300px;
  background-color: #52904d;
}
.linha2 {
  height: 1px;
  width: 250px;
  background-color: #52904d;;
}
.FooterPadding{
  padding: 15px;
}
@media only screen and (max-width: 787px){
  .SubTittle{
  padding: 20px;
   }
}
