<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/pages/pedidos/']">
      <mat-icon>home</mat-icon>
      <span >Home</span>
    </button>
    <button mat-menu-item [routerLink]="['/pages/login/']">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
 <span>{{title}}</span>
 <span class="example-spacer"></span>
 <button (click)="alertar()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>help</mat-icon>
 </button>
</mat-toolbar>
