<app-toolbar [title]='title'></app-toolbar>
<mat-nav-list>
  <h3 matSubheader>Lista de Pedidos</h3>
  <p *ngIf="!listaPedidos.length">Não há nenhuma pedido.</p>
	<a mat-list-item *ngFor="let item of listaPedidos" [routerLink]="['/pages/detalhes/',item.id]">
		<span matLine>Pedido : <a style="color: red;">{{item.id}}</a></span>
	</a>
</mat-nav-list>
