

<mat-card>
  <mat-card-title><img src="./assets/imgs/logo.webp" alt="Ask Technology"></mat-card-title>
<mat-card-content>
<form class="example-form" (ngSubmit)="login()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput [(ngModel)]="user.username" name="username" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Senha</mat-label>
    <input type="password" matInput [formControl]="senhaFormControl" [(ngModel)]="user.password" name="password" [errorStateMatcher]="matcher"
           placeholder="Senha">
    <mat-error *ngIf="senhaFormControl.hasError('required')">
      Senha is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div class="button">
    <button type="submit" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>

